<div class="app-container">
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="app-toolbar-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="app-content-container" hasBackdrop="true">
    <mat-drawer #drawer [mode]="'over'">
      <nav>
        <ul>
          <li>
            <a
              mat-button
              routerLink="/projects/list"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              (click)="drawer.close()"
              >Projekte</a
            >
          </li>
        </ul>
      </nav>
      <mat-divider></mat-divider>
      <nav>
        <ul>
          <li>
            <a
              mat-button
              routerLink="/login"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              (click)="drawer.close()"
              >Login</a
            >
          </li>
          <li>
            <a
              mat-button
              routerLink="/about"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              (click)="drawer.close()"
              >About</a
            >
          </li>
        </ul>
      </nav>
    </mat-drawer>
    <mat-drawer-content>
      <app-progress-bar></app-progress-bar>
      <div class="app-content-inner-canvas">
        <router-outlet />
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
