<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="text-center p-4 border rounded bg-light">
    <div *ngIf="authService.signedInAccount(); else loginBlock">
      <div class="mb-4 fs-5">
        {{ "Authenticated user: " + authService.signedInAccount()?.name }}
      </div>
      <button class="btn btn-danger" (click)="authService.azureLogout()">
        Logout
      </button>
    </div>

    <ng-template #loginBlock>
      <div class="mb-4 fs-5">No authenticated user</div>
      <button
        mat-button
        class="btn btn-warning mt-2"
        (click)="authService.azureLogin()"
      >
        Login
      </button>
    </ng-template>
  </div>
</div>
